*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background: #fff;
    cursor: default;
}
html{
    font-family: 'Arimo', sans-serif;
    color: #070d18d9;
}
a{
    text-decoration: none;
    cursor: pointer;
}
h1{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
}
.h-back{
    border-radius: 0 0 5px 5px;
    position: fixed;
    background: #070d18d9;
    width: 100%;
}
/*.h-back:after{*/
/*    content: "";*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    filter: blur(30px);*/
/*    z-index: -1;*/
/*    background-size: contain;*/
/*    opacity: 0.2;*/
/*}*/
.header{
    display: flex;
    align-content: center;
}

.container{
    padding: 0 calc((100% - 1490px ) / 2)
}
.h-log{
    width: 125px;
    padding: 20px 0;
}
.h-logo-i{
    width: 100%;
    height: 100%;
}
.t-text{
    font-size: 50px;
    font-weight: 600;
}
.body{
    padding-top: 85px;
}
.title-b{
    padding-top: 20px;
}
.lesson-b{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.l-name{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 25px;
}
.l-block-i{
    display: flex;
    width: 100%;
    gap: 20px;
}
.lesson-b-item{
    border-radius: 15px;
    background: #070d18d9;
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 15px;
}
.b-link{
    color: #eef8f3;
}