@font-face {
    font-family: sans-serif, 'Arimo';
    src: url('./Arimo-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: sans-serif, 'Arimo';
    src: url('/font/static/Arimo-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: sans-serif, 'Arimo';
    src: url('/font/static/Arimo-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: sans-serif, 'Arimo';
    src: url('/font/static/Arimo-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
